
#IngDep tr td {
    color: black;
    text-decoration: solid;
    background-color: yellowgreen;
    padding: 10px;
}

/*establece el formato del boton Nuevo dentro de las Paginas*/
.BtnNuevo { margin-bottom: 10px;  border-radius: 15px; }

.modal-header {
    margin-bottom: 10px;
    background-color: limegreen;
}

#ComuSelec #CiuSelec {
    min-width: 100px !important;
    min-height: 100px !important;    
}

.shadow {
    background: #000;
    border-radius: 12px 12px 4px 4px;
    box-shadow: 0 0 20px 10px #000;
    height: 12px;
    margin: 30px auto;
    opacity: 0.2;
    width: 270px;
}