body {
    font-family: Arial;
    font-size: 10pt;
}

/*webgrid datos*/

.webgrid-table {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: 1.2em;
    width: 100%;
    display: table;
    border-collapse: separate;
    border: solid 1px #98BF21;
    background-color: white;
}
    .webgrid-table td, th {
        border: 1px solid #98BF21;
        padding: 3px 7px 2px;
        text-align: center;
    }

.webgrid .row:hover {
    background-color: gold;
    cursor: pointer;
}

.webgrid-header {
    background-color: #A7C942;
    background: #a7c942;
    color: #FFFFFF;
    padding-bottom: 4px;
    padding-top: 5px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.webgrid-footer {
    background-color: #A7C942;
    background: #a7c942;
    color: #FFFFFF;
    padding-bottom: 4px;
    padding-top: 5px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.webgrid-row-style {
    padding: 3px 7px 2px;
}

.webgrid-alternating-row {
    background-color: #98c44f;
    padding: 3px 7px 2px;
}

tr.webgrid-row-style td:nth-child(4) {
    text-align: center;
}

.modal-header {
    background-color: limegreen;
}

