@{
    ViewBag.Title = "Contact";
}
<br />
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Moscu 4168,<br />
    Maipu, Santiago,<br />
    Chile<br />
    <abbr title="Phone">P:</abbr>
    +56 99 5572511
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@romcomp.com">Support@romcomp.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@romcomp.com">Marketing@romcomp.com</a>
</address>